<%- include('head')%>
</head>
<body>
<div class="container containview">
    <%- include('header')%>
    
    <div class="detailView">
        <div class="detailHeader">
            <h2 class="title" id="title"></h2>
            <div class="bottomBox">
                <div class="left">
                    <div class="user" id="name"></div>
                    <div class="day" id="board_date"></div>
                </div>
                <div class="right">
                    <a href="/listView">목록</a>
                    <button type="button" onclick="passwrodCheck()">수정</button>
                    <button type="button">삭제</button>
                </div>
            </div>
        </div>
        
        <div class="detailBody" id="contents"></div>
        
        <div class="detailFooter">
            <ul class="hashTagBox">
                <li class="hashTag">#디자인</li>
            </ul>

            <ul class="commentBox" id="commentBox">
                <!-- <li class="commentList">
                    <div class="userLogo">
                        <img src="./image/userlogo1.png" alt="유저로고" />
                    </div>
                    <div class="textBox">
                        <div class="userName">Jaden</div>
                        <div class="writeDay">2020.09.15</div>
                        <div class="textContent">댓글내용 기입하고 상세내용도 기입할수있습니다.</div>
                    </div>
                    <div class="btnbox">
                        <button type="button">수정</button>
                        <button type="button">삭제</button>
                    </div>
                </li> -->
            </ul>

            <div class="commentWrite">
                <div class="inputBoxouter ib">
                    <div class="inputBox ht40 wd170">
                        <input type="text" placeholder="이름" maxlength="5" id="comment_name" />
                    </div>
                </div><!--
                --><div class="inputBoxouter ib">
                    <div class="inputBox ht40 wd170">
                        <input type="password" placeholder="비밀번호" maxlength="12" id="comment_password"/>
                    </div>
                </div>
                <div class="txtareaBox">
                    <textarea name="" id="comment_content" placeholder="여러분의 소중한 댓글을 입력해주세요."style="resize: none;"></textarea>
                </div>

                <button type="button" class="register button style1 small" id="comment_btn">댓글달기</button>

            </div>

        </div>
    </div>

    <div id="background" class="click"></div>

    <div class="modal" id="PwdCheck" >
        <div class="txt">패스워드를 입력하세요</div>
        <div class="inputBoxouter">
            <div class="inputBox ht40">
                <input type="password" placeholder="비밀번호" maxlength="12" id="passwordCheck"/>
            </div>
        </div>
        <button type="button" class="button full style1">수정하기</button>
    </div>

</div>
</body>
<script src="/js/view.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', function(){
        $.ajax({
        url: '/api/board/find',
        type: 'GET',
        data: {
          board_id : "<%- board_id%>",
        },
        success: function(data) {
            document.getElementById("name").innerHTML = data.data.data.name;
            document.getElementById("title").innerHTML = data.data.data.title;
            document.getElementById("contents").innerHTML = data.data.data.content;
            // console.log(data.data.data.comments)
            data.data.data.comments.forEach(function(list) {
                // console.log(list)
                const li = '<li class="commentList">\n'+
                            '<div class="userLogo">\n'+
                            '<img src="./image/userlogo1.png" alt="유저로고" />\n'+
                            '</div>\n'+
                            '<div class="textBox">\n'+
                                '<div class="userName">'+list.name+'</div>\n'+
                                '<div class="writeDay">'+list.comment_date+'</div>\n'+
                                '<div class="textContent">'+list.comment+'</div>\n'+
                            '</div>\n'+
                            '<div class="btnbox">\n'+
                                '<button type="button">수정</button>\n'+
                                '<button type="button">삭제</button>\n'+
                            '</div>\n'+
                        '</li>\n';

                $('#commentBox').append(li)
            });
        },
        error: function(err){
          console.log(err)
        }
      });
    })


    document.getElementById('comment_btn').onclick = function(){
      $.ajax({
        url: '/api/comment/save',
        type: 'POST',
        data: {
          board_id : "<%- board_id%>",
          name : document.getElementById('comment_name').value,
          password : document.getElementById('comment_password').value,
          content : document.getElementById('comment_content').value,
        },
        success: function(data) {
        //   console.log(data)
          location.reload()
        },
        error: function(err){
          console.log(err)
        }
      });
    }

</script>
<script src="/js/view.js"></script>
<%- include('footer')%>