<%- include('head')%>
</head>
<body id="body">
<div class="container containview">
    <%- include('header')%>
    
    <div class="detailView">
        <div class="detailHeader">
            <h2 class="title" id="title"><%- data.title%></h2>
            <div class="bottomBox">
                <div class="left">
                    <div class="user" id="name"><%- data.name%></div>
                    <div class="day" id="board_date"><%- data.board_date%></div>
                </div>
                <div class="right">
                    <a href="/listView">목록</a>
                    <button type="button" onclick="passwrodCheck()">수정</button>
                    <button type="button">삭제</button>
                </div>
            </div>
        </div>
        
        <div class="detailBody" id="contents"><%- data.content%></div>
        
        <div class="detailFooter">
            <ul class="hashTagBox">
                <li class="hashTag">#디자인</li>
            </ul>

            <ul class="commentBox" id="commentBox">
                <% data.comments.forEach(function(list) { %>
                <% let numRandom = Math.random(); %>
                <% let numRandom2 = Math.floor( numRandom * 5 + 1 ) %>
                <li class="commentList">
                    <div class="userLogo">
                        <img src="./image/userlogo<%- numRandom2 %>.png" alt="유저로고" />
                    </div>
                    <div class="textBox">
                        <div class="userName"><%- list.name%></div>
                        <div class="writeDay"><%- list.comment_date %></div>
                        <div class="textContent"><%- list.comment %></div>
                    </div>
                    <div class="btnbox">
                        <button type="button">수정</button>
                        <button type="button">삭제</button>
                    </div>
                </li>
                <% }) %>
            </ul>

            <div class="commentWrite">
                <div class="inputBoxouter ib ht40 wd170">
                    <div class="inputBox">
                        <input type="text" placeholder="이름" maxlength="5" id="comment_name" />
                    </div>
                </div><!--
                --><div class="inputBoxouter ib ht40 wd170">
                    <div class="inputBox">
                        <input type="password" placeholder="비밀번호" maxlength="12" id="comment_password"/>
                    </div>
                </div>
                <div class="txtareaBox">
                    <textarea name="" id="comment_content" placeholder="여러분의 소중한 댓글을 입력해주세요."style="resize: none;"></textarea>
                </div>

                <button type="button" class="register button style1 small" id="comment_btn">댓글달기</button>

            </div>

        </div>
    </div>

    <div id="background" class="click"></div>

    <div class="modal" id="PwdCheck" >
        <button type="button" class="btn_nav on" id="modalCloseBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="txt">패스워드를 입력하세요</div>

        <div class="inputBoxouter ht40">
            <div class="inputBox">
                <input type="password" placeholder="비밀번호" maxlength="12" id="passwordCheck"/>
            </div>
        </div>

        <button type="button" class="button full style1">수정하기</button>
    </div>

</div>
</body>
<script src="/js/view.js"></script>
<%- include('footer')%>